<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.recorderspec.recorder.sensorframework"
         point="org.palladiosimulator.recorderspec.recorder">
      <recorder
            configurationFactory="org.palladiosimulator.recorderspec.recorder.sensorframework.SensorFrameworkRecorderConfigurationFactory"
            launchConfigTab="org.palladiosimulator.recorderspec.recorder.sensorframework.launch.SensorFrameworkTab"
            name="SensorFramework"
            writeStrategy="org.palladiosimulator.recorderspec.recorder.sensorframework.SensorFrameworkRecorder">
      </recorder>
   </extension>

</plugin>
