<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/branches/release5.2.0/"/>
