<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.recorderframework.sensorframework"
         point="org.palladiosimulator.recorderframework">
      <recorder
            launchConfigTab="org.palladiosimulator.recorderframework.sensorframework.launch.SensorFrameworkTab"
            name="SensorFramework">
      </recorder>
   </extension>

   <extension
         id="org.palladiosimulator.recorderframework.sensorframework"
         point="org.palladiosimulator.recorderframework.core">
      <recorder
            configurationFactory="org.palladiosimulator.recorderframework.sensorframework.SensorFrameworkRecorderConfigurationFactory"
            recorderImplementation="org.palladiosimulator.recorderframework.sensorframework.SensorFrameworkRecorder"            
            name="SensorFramework">
      </recorder>
   </extension>
</plugin>
